export PROJECT_DIR=$(expand_path .)
export DEPLOY="live"
export ANSIBLE_INVENTORY=$(expand_path inventory/hosts.ini)
export ANSIBLE_CONFIG=$(expand_path ansible.cfg)
export SOPS_AGE_KEY_FILE=$(expand_path .private/secrets/keys.txt)
export ANSIBLE_VAULT_PASSWORD_FILE=$(expand_path .private/secrets/vault-password.txt)

# just leave the value below
export PY_COLORS=1
export ANSIBLE_FORCE_COLOR=1
export ENCRYPT_TARGET=$(expand_path files)

[[ -f .envrc.local ]] & source .envrc.local
