#!/usr/bin/env bash

export PROJECT_DIR=$(expand_path .)
export DEPLOY="live"
export ANSIBLE_INVENTORY=$(expand_path inventories/$DEPLOY/hosts.ini)
#export ANSIBLE_CONFIG=$(expand_path ansible.cfg)

[[ -f .envrc.local ]] & source .envrc.local
