#!/usr/bin/env bash
export PROJECT_DIR=$(expand_path .)
export ANSIBLE_INVENTORY=$(expand_path inventory/hosts.ini)
export ANSIBLE_CONFIG=$(expand_path ansible.cfg)
export SOPS_AGE_KEY_FILE=$(expand_path ~/.config/sops/age/key.txt)
export PY_COLORS=1
export ANSIBLE_FORCE_COLOR=1

[[ -f .envrc.local ]] & source .envrc.local
